<div class="ssh-container">
  <h1>Harga Satuan Pokok Pekerjaan (HSPK)</h1>
  <div class="info-box">
    <p class="title">PP 12 Tahun 2019</p>
    <ol>
      <li>Belanja Daerah sebagaimana dimaksud dalam Pasal 49 ayat (5) berpedoman pada standar harga satuan regional, analisis standar belanja, dan/atau standar teknis sesuai dengan ketentuan peraturan perundang-undangan.</li>
      <li>Standar harga satuan regional sebagaimana dimaksud pada ayat (1) dan ayat (2) ditetapkan dengan Peraturan Presiden.</li>
      <li>Standar harga satuan regional sebagaimana dimaksud pada ayat (3) digunakan sebagai pedoman dalam menyusun standar harga satuan pada masing-masing Daerah.</li>
    </ol>
  </div>
  
  <div class="actions">
    <input type="text" placeholder="Cari data" class="search-box"/>
    <button class="btn">
        <div class="usulan">
            <img src="assets/img/icon-usulan.png" alt="">
            <p>SSH Usulan</p>
        </div>
    </button>
    <button class="btn">
        <div class="add">
            <img src="assets/img/icon-add.png" alt="">
            <p>Standar Harga</p>
            <img src="assets/img/icon-arrowdown.png" alt="">
        </div>
    </button>
    <button class="btn">
        <div class="arsip">
            <img src="assets/img/icon-arsip.png" alt="">
            <p>Arsip</p>
        </div>
    </button>
    <button class="btn">
        <div class="pengaturan">
            <img src="assets/img/icon-pengaturan.png" alt="">
            <p>Pengaturan</p>
        </div>
    </button>
  </div>

  <table class="ssh-table">
    <thead>
      <tr>
        <th><input type="checkbox"/></th>
        <th>Aksi</th>
        <th>Kode Komponen</th>
        <th>Uraian Komponen</th>
        <th>Spesifikasi</th>
        <th>Satuan</th>
        <th>Harga Satuan</th>
        <th>TKDN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="8" class="no-data">
          No record found
        </td>
      </tr>
    </tbody>
  </table>
</div>
